<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Inicio de sesion</strong>
      <ion-list>
        <ion-item>
          <ion-input label="Usuario" placeholder="Ingrese su usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña" type="password" value="" placeholder="****"></ion-input>
        </ion-item>
    
      </ion-list>
    <ion-button [routerLink]="'/inicio'" >Acceder</ion-button>
  </div>

</ion-content>
