<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ya tienes cuenta? Ingresa : </strong>
    <ion-button [routerLink]="'/login'" >Inicio de sesion</ion-button>
    <strong>No tienes una cuenta?</strong>
    <ion-button [routerLink]="'/registro'" >Registrate</ion-button>
  </div>
</ion-content>
