<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <ion-list>
        <ion-item>
          <ion-input label="Nombre" placeholder="Ingrese su nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Apellido" placeholder="Ingrese su apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Usuario" placeholder="Ingrese un nombre de usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Contraseña" type="password" value="" placeholder="Ingrese la contraseña"></ion-input>
        </ion-item>
    
      </ion-list>
    <ion-button [routerLink]="'/login'" >Registrarse</ion-button>
  </div>


</ion-content>
